
<br><div class="container"><div class="jumbotron">
    <h1 class="display-4">Bonjour Lamine</h1>
    <button type="button" class="btn btn-lg btn-dark float-end"  routerLink="/articles/{{1}}"><i class="float-end bi bi-journal-bookmark"> Mes Articles</i></button>
    <p class="lead">Nous vous attendons toujours , Voici ce que vous avez manqué pendant que vous étiez hors ligne, amusez-vous. </p>
    <hr class="my-4">
    <p>
        Vous vous sentez motivé pour partager des informations avec vos collègues 
        <a class="btn btn-success btn float-end" href="#" role="button">Cliquez ici</a></p>
    <p class="lead">
    </p>
  </div></div>
  <section class="py-5">
    <div class="container">
        <!-- FOR DEMO PURPOSE -->
       


        <div class="row" *ngFor="let article of ListArticles">
            <div class="col-lg-10 mx-auto">

                <!-- CUSTOM BLOCKQUOTE -->
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-success shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <h4>{{article.titre}}</h4>
                    <p class="mb-0 mt-2 font-italic">"{{article.contenu}}"</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">Auteur :{{ article.user_name }} 
                        <cite title="Source Title"> le {{ article.updated_at.date | date :'short' }} <i  class="bi float-end fa-2x bi-hand-thumbs-up">45</i></cite>
                    </footer>
                </blockquote><!-- END -->

            </div>
        </div>
    </div><br><br><!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</section>