<app-navbar></app-navbar>
<br><div class="container"><div class="jumbotron">
    <h1 class="display-4">Bonjour {{currentUserName}}</h1>
    <button type="button" class="btn btn-lg btn-dark float-end"  routerLink="/articles/{{currentUserId}}"><i class="float-end bi bi-journal-bookmark"> Mes Articles</i></button>
    <p class="lead">Nous vous attendons toujours , Voici ce que vous avez manqué pendant que vous étiez hors ligne, amusez-vous. </p>
    <hr class="my-4">
    <p>
        Vous vous sentez motivé pour partager des informations avec vos collègues  

        <button class="btn  btn-success float-end" (click)="open(mymodal)">Publier un article</button>
    <p class="lead">
    </p>
  </div></div>
  <section class="py-5">
    <div class="container">
        <!-- FOR DEMO PURPOSE -->
       


        <div class="row" *ngFor="let article of ListArticles">
            <div class="col-lg-10 mx-auto">

                <!-- CUSTOM BLOCKQUOTE -->
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-success shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <h4>{{article.titre}}</h4>
                    <p class="mb-0 mt-2 font-italic">"{{article.contenu}}"</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">Auteur :{{ article.user_name }} 
                        <cite title="Source Title"> le {{ article.updated_at.date | date :'short' }} 
                          <div *ngIf="article.user_id !=currentUserId">
                        <a >  
                          <i   (click)=" likeArticle(article.id,currentUserId)" class="text-success bi float-end fa-2x bi-hand-thumbs-up-fill" ></i>
                         </a>
                        <span class="float-end">{{article.likes}}</span></div>
                         <div *ngIf="article.user_id ==currentUserId">
                          <span class="float-end" *ngIf="article.likes >1">{{article.likes}} Personnes ont aimé votre article</span>
                          <span class="float-end" *ngIf="article.likes == 0"> Personnes n'a encore  aimé votre article</span>
                          <span class="float-end" *ngIf="article.likes ==1">Une seul personne a aimé votre article</span></div> </cite>
                    </footer>
                </blockquote><!-- END -->

            </div>
        </div>
    </div><br><br><!-- Button trigger modal -->
   
    
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ecrivez votre article</h4>

  </div>
  <div class="modal-body">
    <form #articlesForm="ngForm" (ngSubmit)="AddArticle(articlesForm.value)" enctype="multipart/form-data">
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Titre:</label>
        <input required type="text" class="form-control" placeholder="Ecrire votre titre" id="recipient-name" ngModel name="titre">
       </div>
      <div class="form-group">
        <label for="message-text" class="col-form-label">Contenu:</label>
        <textarea required style="height:6cm;"  class="form-control" placeholder="Vous etes libre" ngModel name="contenu" id="message-text"></textarea>
      </div>
      <br><div class="float-end">
    <button type="submit" class="btn  btn-success" (click)="modal.close('Save click')">Publier</button>&nbsp;
    <button type="button" class="btn  btn-outline-dark" (click)="modal.dismiss('Cross click')">Annuler</button>
</div> </form>
  </div>
 
</ng-template>
</section>