
<br><div class="container"><div class="jumbotron">
    <h1 class="display-4">Mes Articles</h1>
    <p class="lead">Voici vos articles récemment publiés </p>
    <hr class="my-4">
    <p>
        Vous pouvez à tout moment supprimer ou modifier vos articles </p>
    <p class="lead">
    </p>
  </div></div>
  <section class="py-5">
    <div class="container">
        <!-- FOR DEMO PURPOSE -->
       


        <div class="row" *ngFor="let article of ListArticles">
            <div class="col-lg-10 mx-auto">

                <!-- CUSTOM BLOCKQUOTE -->
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-success shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <h4>{{article.titre}}</h4>
                    <p class="mb-0 mt-2 font-italic">"{{article.contenu}}"</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">Mis à jour
                        <cite title="Source Title"> le {{ article.updated_at.date | date :'short' }} &nbsp;&nbsp; </cite>
                        
<button type="button" class=" btn btn-warning">Modifier</button>
<button type="button" class="float-end btn btn-danger" (click)=" deleteArticle(article.id)" onclick="confirm('Voulez vous vraiment supprime cet article')"><i class="bi bi-trash"></i></button>
                    </footer>
                </blockquote><!-- END -->

            </div>
        </div>
    </div><br><br>
</section>