<app-navbar></app-navbar>
<br><div class="container"><div class="jumbotron">
    <h1 class="display-4">Mes Articles</h1>
    <p class="lead">Voici vos articles récemment publiés </p>
    <hr class="my-4">
    <p>
        Vous pouvez à tout moment supprimer ou modifier vos articles </p>
    <p class="lead">
    </p>
  </div></div>
  <section class="py-5">
    <div class="container">
        <!-- FOR DEMO PURPOSE -->
       


        <div class="row" *ngFor="let article of ListArticles">
            <div class="col-lg-10 mx-auto">

                <!-- CUSTOM BLOCKQUOTE -->
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-success shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <h4>{{article.titre}}<i (click)=" deleteArticle(article.id)" onclick="confirm('Voulez vous vraiment supprime cet article')" class="float-end bi bi-trash"></i></h4>
                    <p class="mb-0 mt-2 font-italic">"{{article.contenu}}"</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">Mis à jour
                        <cite title="Source Title"> le {{ article.updated_at.date | date :'short' }} &nbsp;&nbsp; 
                          
                          <span class="float-end" *ngIf="article.likes >1">{{article.likes}} Personnes ont aimé votre article</span>
                          <span class="float-end" *ngIf="article.likes == 0"> Personnes n'a encore  aimé votre article</span>
                          <span class="float-end" *ngIf="article.likes ==1">Une seul personne a aimé votre article</span>
                        </cite>
        <button class="btn  btn-success" (click)="open(mymodal,article)"><i class="bi bi-pencil-fill"></i> Modifier</button>&nbsp; 

                  </footer>
                </blockquote><!-- END -->

            </div> <ng-template #mymodal let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Ecrivez votre article</h4>
                  
                 
                </div>
                <div class="modal-body">
                  <form  #articlesForm="ngForm" (ngSubmit)="UpdateArticle(articlesForm.value,article.id)" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Titre:</label>
                      <input required type="text" value="{{article.titre}}" class="form-control"  id="recipient-name" ngModel name="titre" >
                     
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Contenu:</label>
                      <textarea resuired style="height:6cm;" class="form-control" placeholder="Vous etes libre" ngModel name="contenu" id="message-text"></textarea>
                    </div>
                    <br><div class="float-end">
                  <button type="submit" class="btn  btn-warning" (click)="modal.close('Save click')">Modifier</button>&nbsp;
                  <button type="button" class="btn  btn-outline-dark" (click)="modal.dismiss('Cross click')">Annuler</button>
              </div> </form>
                </div>
               
              </ng-template>
        </div>
    </div><br><br>
   
</section>